@use 'sass:math';

html, body, main {
    margin: 0px;
    height: 100vh;
}

#header {
    position: sticky;
}

#content {
    overflow-y: scroll;
    overflow-x: hidden;

    padding: 1em;
}

.nav-list {
    display: flex;
    flex-direction: row;
    // column-gap: 1em;

    // background-color: #202020;
    background: linear-gradient(#000000, #202020 60%, #303030 95%);

    // height: 4rem;

    align-items: center;
    justify-content: flex-start;

    padding-left: 1em;
    padding-right: 1em;

    font-size: large;
    font-family: sans-serif;

    .nav-button {
        $nav-width: 12ch;

        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background-color: transparent;
        min-width: $nav-width;
        min-height: math.div($nav-width, 2);
        color: white;
        
        border-right: 1px solid white;
    }

    .nav-button:first-child {
        border-left: 1px solid white;
    }

    .nav-button:hover { background-color: rgba($color: dimgrey, $alpha: 0.2) }
    .nav-button:active { background-color: rgba($color: dimgrey, $alpha: 1.0); }
}